.container2{
    background-color: #f2f2f2;
    height: calc(100vh - 100px);
    margin-top: 100px;

}

.price_products2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product_price_box2{
    display: flex;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin: 20px;
    font-size: 22px;
    font-weight: 600;
}
.product_image_cover_box2{
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #e6e6e6;
    border-radius: 30px;
    width:244px;
    height: 173px;

}

.product_price_image2{
    width: 194px;
    height: 145px;
}

.warn_price_text2{
    font-size: 24px;
    padding: 20px;
    color: #777777
}

.price_info_dots2{
    margin: auto;
    width: 89px;
    display: flex;
}
.active_dot2{
    margin: 0 2px;
    background-color: #000000;
    width:10px;
    height:10px;
    border-radius: 10px;
}
.dot2{
    margin: 0 1px;
    background-color: #ffffff;
    width:8px;
    height:8px;
    border-radius: 10px;
    border: 1px solid black;
}

p{
    margin: 5px;
}

